
global:
  security:
    allowInsecureImages: true
# Oxia cluster configuration

oxia-cluster:
  enabled: true
  replicationFactor: 3
  initialShardCount: 40
  coordinator:
    cpu: "2"
    memory: 4Gi
  server:
    replicas: 5
    cpu: "2"
    memory: 8Gi
    storage: 128Gi
  image:
    repository: oxia/oxia
    tag: 0.15.1
    pullPolicy: IfNotPresent
  pprofEnabled: true
  monitoringEnabled: true



# Zookeeper cluster configuration
zookeeper:
  enabled: true
  replicaCount: 5
  persistence:
    enabled: true
    size: 128Gi
  image:
    repository: bitnamilegacy/zookeeper
  resources:
    requests:
      cpu: "2"
      memory: 8Gi
    limits:
      cpu: "2"
      memory: 8Gi

# ETCD cluster configuration
etcd:
  enabled: true
  replicaCount: 5
  persistence:
    enabled: true
    size: 128Gi
  auth:
    rbac:
      create: false
      allowNoneAuthentication: true
    token:
      enabled: false
  image:
    repository: bitnamilegacy/etcd
  resources:
    requests:
      cpu: "2"
      memory: 8Gi
    limits:
      cpu: "2"
      memory: 8Gi
  preUpgradeJob:
    enabled: false

##  64 value
### workload 1
workload:
  readRatio: 0.0
  keyspaceSize: 1000000
  keyDistribution: zipf
  valueSize: 64
  targetRate: 100000
  duration: 60m
  parallelism: 5000

### workload 2
#workload:
#  readRatio: 0.5
#  keyspaceSize: 1000000
#  keyDistribution: zipf
#  valueSize: 64
#  targetRate: 1000
#  duration: 60m
#  parallelism: 10

# workers
workers:
  - name: oxia-worker
    parallelism: 1
    cpu: "2"
    memory: 4Gi
    driverConfig:
      driver: oxia
      config:
        serviceAddress: "benchmark:6648"
        batchLinger: 1ms
        batchMaxCount: 1000
  - name: zookeeper-worker
    parallelism: 1
    cpu: "2"
    memory: 4Gi
    driverConfig:
      driver: zookeeper
      config:
        servers:
          - "benchmark-zookeeper:2181"
  - name: etcd-worker
    parallelism: 1
    cpu: "2"
    memory: 4Gi
    driverConfig:
      driver: etcd
      config:
        endpoints:
          - "benchmark-etcd:2379"
        dialTimeout: 5s