
global:
  security:
    allowInsecureImages: true
# Oxia cluster configuration

oxia-cluster:
  enabled: true
  replicationFactor: 3
  initialShardCount: 3
  coordinator:
    cpu: "2"
    memory: 4Gi
  server:
    replicas: 3
    cpu: "2"
    memory: 8Gi
    storage: 128Gi
  image:
    repository: oxia/oxia
    tag: 0.15.1
    pullPolicy: IfNotPresent
  pprofEnabled: true
  monitoringEnabled: true



# Zookeeper cluster configuration
zookeeper:
  enabled: true
  replicaCount: 3
  persistence:
    enabled: true
    size: 128Gi
  image:
    repository: bitnamilegacy/zookeeper
  resources:
    requests:
      cpu: "2"
      memory: 8Gi
    limits:
      cpu: "2"
      memory: 8Gi

# ETCD cluster configuration
etcd:
  enabled: true
  replicaCount: 3
  persistence:
    enabled: true
    size: 128Gi
  auth:
    rbac:
      create: false
      allowNoneAuthentication: true
    token:
      enabled: false
  image:
    repository: bitnamilegacy/etcd
  resources:
    requests:
      cpu: "2"
      memory: 8Gi
    limits:
      cpu: "2"
      memory: 8Gi
  preUpgradeJob:
    enabled: false
  extraEnvVars:
    - name: ETCD_QUOTA_BACKEND_BYTES
      value: "34359738368"  #32Gi = 32 * 1024 * 1024 * 1024

##  64 value
### workload 1
#workload:
#  readRatio: 0.0
#  keyspaceSize: 100000
#  keyDistribution: order
#  valueSize: 64
#  targetRate: 35000
#  duration: 15m
#  parallelism: 1000


### workload 2
workload:
  readRatio: 0.0
  keyspaceSize: 100000
  keyDistribution: zipf
  valueSize: 64
  targetRate: 35000
  duration: 15m
  parallelism: 1000

### workload 3
#workload:
#  readRatio: 0.5
#  keyspaceSize: 100000
#  keyDistribution: zipf
#  valueSize: 64
#  targetRate: 35000
#  duration: 15m
#  parallelism: 1000

# workers
workers:
  - name: oxia-worker
    parallelism: 3
    cpu: "2"
    memory: 4Gi
    driverConfig:
      driver: oxia
      config:
        serviceAddress: "benchmark:6648"
        batchLinger: 1ms
        batchMaxCount: 1000
  - name: zookeeper-worker
    parallelism: 3
    cpu: "2"
    memory: 4Gi
    driverConfig:
      driver: zookeeper
      config:
        servers:
          - "benchmark-zookeeper:2181"
  - name: etcd-worker
    parallelism: 3
    cpu: "2"
    memory: 4Gi
    driverConfig:
      driver: etcd
      config:
        endpoints:
          - "benchmark-etcd:2379"
        dialTimeout: 5s