
global:
  security:
    allowInsecureImages: true
# Oxia cluster configuration

oxia-cluster:
  enabled: true
  replicationFactor: 3
  initialShardCount: 12
  coordinator:
    cpu: "2"
    memory: 4Gi
  server:
    replicas: 10
    cpu: "2"
    memory: 8Gi
    storage: 128Gi
  image:
    repository: oxia/oxia
    tag: 0.15.1
    pullPolicy: IfNotPresent
  pprofEnabled: true
  monitoringEnabled: true



# Zookeeper cluster configuration
zookeeper:
  enabled: false

# ETCD cluster configuration
etcd:
  enabled: false

##  64 value
workloads:
  exitWhenFinish: false
  metadata:
    serverNum: 12
  items:
    # insert-only
    - readRatio: 0.0
      keyspaceSize: 10000000    # 10M keys
      keyDistribution: order
      valueSize: 64
      targetRate: 40000
      duration: 15m
      parallelism: 1000
    # YCSB X (100 % updates, zipf distribution)
    - readRatio: 0.0
      keyspaceSize: 10000000
      keyDistribution: zipf
      valueSize: 64
      targetRate: 40000
      duration: 15m
      parallelism: 1000
    # YCSB A (50% updates, 50% read, zipf distribution)
    - readRatio: 0.5
      keyspaceSize: 10000000
      keyDistribution: zipf
      valueSize: 64
      targetRate: 40000
      duration: 15m
      parallelism: 1000
    # YCSB C (100% read, zipf distribution)
    - readRatio: 1
      keyspaceSize: 10000000
      keyDistribution: zipf
      valueSize: 64
      targetRate: 40000
      duration: 15m
      parallelism: 1000

# workers
workers:
  - name: oxia-worker
    parallelism: 24
    cpu: "2"
    memory: 4Gi
    driverConfig:
      driver: oxia
      config:
        serviceAddress: "benchmark-12:6648"
        batchLinger: 10ms
        batchMaxCount: 5000